<html>
    <body>
            <center><h1>DS QUESTIONS AND ANSWERS</h1>
       <table bgcolor="#00FF00" width="100%">
           <tr>
               <th>QNo</th>
               <th>Qname</th>
               <th>Answer</th>
           </tr>
           <%dusers.forEach(function(duser){%>
            <tr>
                <td><%=duser.Qno%></td>
                <td><%=duser.Qname%></td>
                <td><%=duser.ans%></td>
            </tr>
            <%});%>
       </table>
    </center>
    </body>
</html>