<html>
    <body bgcolor="white">
       <center> <h1>CODE QUOTIENT</h1>
        <br>
        <br>
        <br>
        <ul>
        <li><h1><a href="/java" style="text-decoration-color: white" >JAVA PROGRAMMING</h1></a></li>
        <li><h1> <a href="/apc" style="text-decoration-color: white">ADVANCE PROGRAMMING CONCEPTS</h1></a></li>
       <li> <h1><a href="/ds" style="text-decoration-color: white">DATA STRUCTURES</h1></a></li>
      <!-- <li> <h1><a href="/pra" style="text-decoration-color: white">PRACTICE QUESTIONS</h1></a></li>    -->
    </ul>
    </body>
</html>