<html>
    <body bgcolor="white">
       <center> <h1>TEACHER HOMEPAGE</h1>
        <br>
        <br>
        <br>
        <ul>
        <li><h1><a href="/teacher/addques" style="text-decoration-color: white" >ADD QUESTIONS</h1></a></li>
        <li><h1> <a href="/teacher/editques" style="text-decoration-color: white">EDIT QUESTIONS</h1></a></li>
       <li> <h1><a href="/teacher/removeques" style="text-decoration-color: white">REMOVE QUESTIONS</h1></a></li>
      <!-- <li> <h1><a href="/pra" style="text-decoration-color: white">PRACTICE QUESTIONS</h1></a></li>    -->
    </ul>
    </body>
</html>