<html>
<body bgcolor="white">
        <center><h1>ADMIN HOMEPAGE</h1></center>
        <br>
        <br>
        <br>
    <ul>
 <center>  <li><h1><a href="/homepage/view/student" style="text-decoration-color: white" >STUDENTS INFO</h1></a></li>
    <li><h1> <a href="/homepage/view/teacher" style="text-decoration-color: white">TEACHERS INFO </h1></a></li>
    <li> <h1><a href="/homepage/view/admin" style="text-decoration-color: white">ADMIN INFO</h1></a></li>
    <li> <h1><a href="/homepage/view/java" style="text-decoration-color: white">JAVA QUESTIONS AND ANSWERS </h1></a></li>
    <li> <h1><a href="/homepage/view/apc" style="text-decoration-color: white">APC QUESTIONS AND ANSWERS</h1></a></li>
    <li> <h1><a href="/homepage/view/ds" style="text-decoration-color: white">DS QUESTIONS AND ANSWERS</h1></a></li></center>
</ul>
</body>
</html>